//====================================================================================================
.footer {
	position: relative;
	z-index: 5;
	height: 408px;
	background: #0d2c4a;
	padding: 56px 0 102px;
	color: #fff;
	font-family: $mainfont;
	height: 100%;
	&__content {

		display: flex;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
		> div {
			flex: 1 1 25%;
			padding-right: 15px;
			&.footer__logo {
				flex-basis: 50%;
			}
		}
	}

	&__logo {
		img {
			margin-bottom: 16px;
		}
		@media (max-width: $md3+px) {
			border-bottom: 1px solid #fff;
		}
	}

	&__text {
		margin-bottom: 24px;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #f8f8f8;
		opacity: 0.85;
		@media (max-width: $md2+px) {
			padding-right: 30px;
		}
		@media (min-width: $md2+px) {
			padding-right: 97px;
		}
	}

	&__social {
		max-width: 104px;
		display: flex;
		justify-content: space-between;

	}

	&__spaces {
		flex: 0 1 25%;
	}

	&__title {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		opacity: 0.5;
		margin-bottom: 24px;
	}

	&__menu {
		@media (max-width: $md3+px) {
			padding-right: 15px;
			border-bottom: 1px solid #fff;
		}
	}

	&__menu-item {
		margin-bottom: 9px;
	}

	&__menu-link {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #fff;
		transition: color 0.5s;
		&:hover {
			color: #ff5722;
		}
	}

	&__company {
		flex: 1 1 25%;
	}

	&__support {
		flex: 1 1 25%;
	}

	&__contact {
		flex: 1 1 25%;
	}
}

//====================================================================================================
