//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,regular,700,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic&display=swap&subset=cyrillic-ext");
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$mainfont: "Lato";
$subfont: "Lora";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	background: #f8f8f8;
	color: #000;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
// @import "popup";
@import "nice-select";
@import "header";
@import "footer";
// @import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//introducing===========================================
.introducing {
	&__content {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__content-titles {
		flex: 0 1 69%;
	}

	&__slash {
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #222831;
		&::after {
			content: "";
			display: inline-block;
			width: 73px;
			height: 2px;
			left: 281px;
			top: 177px;
			background: #222831;
			vertical-align: middle;
			margin-left: 15px;
		}
	}

	&__title {
		font-family: $subfont;
		font-family: Lora;
		font-style: normal;
		font-weight: bold;
		font-size: 52px;
		line-height: 67px;
		color: #10375c;
		span {
			color: #dd2c00;
		}
		@media (max-width: $md3+px) {
			width: 100%;
			// text-align: center;
			font-size: 35px;
			line-height: 40px;
			margin-bottom: 15px;
		}
	}

	&__text {
		flex: 0 1 31%;
		align-self: center;
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #6a6a6a;
		@media (max-width: $md3+px) {
			margin-bottom: 30px;
		}
	}
}
//selectbanner===============================================
.selectbanner {
	padding: 0px 0px 56px 0px;

	&__body {
		padding: 65px 0px 65px 0px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		position: relative;
		background-image: url("../img/top-banner.png");
		background-size: 63%;
		background-position: right -58px;
		background-repeat: no-repeat;
		@media (max-width: $md3+px) {
			flex-direction: column;
			background-size: 0%;
			padding: 0 15px;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		background: #10375c;
		padding: 42px 40px 31px;
		@media (max-width: $md3+px) {
			width: 100%;
		}
	}
	&__form-title {
		font-family: $subfont;
		font-style: normal;
		font-weight: bold;
		font-size: 34px;
		line-height: 44px;
		color: #fff;
		text-align: center;
		margin-bottom: 30px;
		// flex: 1 1 auto;
	}
	.select_label1 {
		&::before {
			position: absolute;
			content: "Location";
			color: #fff;
			opacity: 0.35;
		}
	}
	.select_label2 {
		&::before {
			position: absolute;
			content: "Type";
			color: #fff;
			opacity: 0.35;
		}
	}
	.select_label3 {
		&::before {
			position: absolute;
			content: "Date";
			color: #fff;
			opacity: 0.35;
		}
	}
	.nice-select .option.focus,
	.nice-select .option.selected.focus,
	.nice-select .option:hover {
		background-color: #15477a;
	}
	.nice-select .option {
		background: #0d2c4a;
		color: #fff;
	}
	.nice-select .list {
		background: #0d2c4a;
		border-radius: 0px;
	}
	.nice-select {
		margin-bottom: 17px;
		height: 60px;
		background: #0d2c4a;
		border: none;
		border-radius: 0px;
	}
	.nice-select::after {
		width: 8px;
		height: 8px;
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
	}
	.current {
		color: #fff;
		display: inline-block;
		margin-top: 25px;
	}
	&__form-btn {
		background: #ff5722;
		width: 100%;
		color: #fff;
		height: 51px;
		font-family: $mainfont;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		border: 1px solid #ff5722;
		transition: all 0.5s ease 0s;
		&:hover {
			border-radius: 25px;
			background: #fff;
			color: #ff5722;
		}
	}
	&__banner {
		z-index: -1;
		flex: 0 1 37%;
		display: flex;
	}
}

//Our Spaces==================================================
.slidespaces {
	padding: 56px 0px 112px 0px;
	&__body {
	}

	&__content {
		margin-bottom: 56px;
		display: flex;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__title {
		flex: 0 1 32%;
		font-family: $subfont;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		color: #10375c;
		@media (max-width: $md3+px) {
			text-align: center;
			margin-bottom: 30px;
		}
	}

	&__text {
		flex: 0 1 40%;
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #9a9a9a;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}

	&__slide {
		min-width: 0;
		position: relative;
	}
	.swiper-button-prev {
		transition: all 0.5s;
		position: absolute;
		cursor: pointer;
		top: -76px;
		right: 141px;
		width: 100px;
		height: 30px;
		background-image: url("../img/arrow-active.svg");
		background-repeat: no-repeat;
		transform: rotate(180deg);
		&.swiper-button-disabled {
			background-image: url("../img/arrow-nonactive.svg");
			width: 80px;
			height: 30px;
			top: -73px;
			right: 117px;
			transform: rotate(0deg);
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	.swiper-button-next {
		transition: all 0.5s;
		position: absolute;
		top: -73px;
		right: -1px;
		cursor: pointer;
		width: 100px;
		height: 30px;
		background-image: url("../img/arrow-active.svg");
		background-repeat: no-repeat;
		&.swiper-button-disabled {
			top: -75px;
			right: 41px;
			background-image: url("../img/arrow-nonactive.svg");
			transform: rotate(180deg);
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	.swiper-pagination {
		position: absolute;
		text-align: center;
		bottom: -19px;
		width: 100%;
		height: 4px;
		background: transparent;
	}
	.swiper-pagination-bullet {
		display: inline-block;
		background: #000;
		opacity: 0.2;
	}
	.swiper-pagination-bullet-active {
		background: #dd2c00;
		opacity: 1;
	}
	.swiper-pagination-current {
		color: #222831;
		font-size: 23px;
	}
	.swiper-pagination-fraction {
		font-size: 20px;
		color: #9a9a9a;
		font-family: $mainfont;
	}

	.swiper-scrollbar {
		max-width: 160px !important;
		width: 100%;
		background: #dfdfdf;
		margin: 0 auto;
		height: 5px;
	}

	.swiper-scrollbar-drag {
		cursor: pointer;
		background-color: #dd2c00;
		height: 100%;
	}
}
.slider {
	margin-bottom: 50px;
	padding-bottom: 40px;
	.slider__items-hov {
		transition: all 0.5s;
		position: absolute;
		bottom: 49px;
		width: 72px;
		height: 72px;
		background-color: #ff5722;
		z-index: 3;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("../img/spaces-arrow.svg");
		background-repeat: no-repeat;
		background-position: center center;
		a {
			opacity: 0;
			font-family: $mainfont;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
			color: #ffffff;
			z-index: 3;
		}
		&:hover {
			width: 255px;
			bottom: 0px;
			background-position: 215px center;
			&::before {
				content: "";
				position: absolute;
				width: 137%;
				height: 653%;
				background-color: transparent;
				bottom: 0px;
				right: -95px;
			}
			a {
				transition: all 1s;
				opacity: 1;
			}
			+ .slider__items {
				.items__mask {
					opacity: 1;
				}
			}
		}
	}
	&__items {
		position: relative;
		transition: all 0.5s;
		.items__mask {
			z-index: 2;
			transition: all 0.5s;
			position: absolute;
			top: 0px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			background-color: #10375c;
			padding: 0 55px;
			opacity: 0;
			&::before {
				content: url("../img/Group\ 3.png");
				display: block;
				position: absolute;
				top: 16px;
				right: 16px;
				opacity: 0.3;
			}
			.items__mask-title {
				font-family: $subfont;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 41px;
				color: #ffffff;
				text-align: center;
				margin-bottom: 15px;
			}

			.items__mask-text {
				font-family: $mainfont;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 28px;
				text-align: center;
				color: #ffffff;
			}
			.item__mask-link {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 72px;
				height: 72px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #ff5722;
				transition: all 0.5s;
				&::after {
					content: url("../img/spaces-arrow.svg");
					position: absolute;
					top: 28px;
					right: 30px;
				}
			}
		}
		img {
			margin-bottom: 25px;
			min-height: 420px;
		}
		span {
			display: block;
			margin: 0 auto;
			font-family: $mainfont;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			color: #222831;
		}
	}
}

//whyfrispes====================================================
.whyfrispes {
	padding: 30px 0px 56px 0px;
	&__body {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}
	&__content-left {
		flex: 0 1 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3+px) {
			align-items: flex-start;
			max-width: 100%;
			margin-bottom: 15px;
		}
	}

	&__items {
		display: flex;
		flex: 0 1 50%;
		@media (max-width: 359px) {
			flex: 0 1 60%;
		}
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
			margin: 0 auto;
			margin-bottom: 15px;
		}
	}
	&__items-img {
		margin-right: 24px;
		width: 32px;
		@media (max-width: $md3+px) {
			margin-right: 10px;
		}
	}
	&__items-content {
		display: flex;
		flex-direction: column;
	}
	&__items-num {
		font-family: $subfont;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: #10375c;
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}

	&__items-text {
		font-family: $mainfont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #9a9a9a;
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}

	&__content-right {
		flex: 0 1 50%;
		background: #10375c;
		padding: 54px;
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			width: 100%;
			padding: 15px;
		}
	}

	&__presents {
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #fff;
		margin-bottom: 8px;
		&::after {
			content: "";
			display: inline-block;
			width: 73px;
			height: 2px;
			left: 281px;
			top: 177px;
			background: #fff;
			vertical-align: middle;
			margin-left: 15px;
		}
	}

	&__title {
		font-family: $subfont;
		color: #fff;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		margin-bottom: 24px;
		@media (max-width: $md3+px) {
			font-size: 35px;
			line-height: 40px;
		}
	}

	&__text {
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #fff;
	}
}

//ourfacilities====================================================
.ourfacilities {
	padding: 56px 0px 56px 0px;
	&__presents {
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #222831;
		margin-bottom: 8px;
		&::after {
			content: "";
			display: inline-block;
			width: 73px;
			height: 2px;
			left: 281px;
			top: 177px;
			background: #222831;
			vertical-align: middle;
			margin-left: 15px;
		}
	}

	&__title {
		max-width: 50%;
		font-family: $subfont;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		color: #10375c;
		margin-bottom: 56px;
		@media (max-width: $md2+px) {
			max-width: 100%;
			font-size: 35px;
			line-height: 40px;
		}
	}
	&__ourfacilities__body {
		display: flex;
		justify-content: flex-end;
		@media (max-width: $md2+px) {
			width: 100%;
		}
	}

	&__slider-body {
		position: relative;
		width: 100%;

		.ourfacilities-swiper-pagination {
			position: absolute;
			margin: 6px 0;
			text-align: center;
			cursor: pointer;
			background: transparent;
			z-index: 10;
			display: flex;
			@media (max-width: $md2+px) {
				display: none;
			}
		}
		.swiper-pagination-bullet {
			margin-right: 10px;
			height: 72px;
			width: 293px;
			display: block;
			text-align: left;
			padding-left: 24px;
			padding-top: 24px;
			font-family: $mainfont;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			color: #222831;
			&:hover {
				background: #ff5722;
				color: #fff;
			}
		}
		.swiper-pagination-bullet-active {
			background: #ff5722;
			color: #fff;
		}
		.swiper-pagination-bullets {
			display: flex;
			flex-direction: column;
			width: 40%;
			height: 100%;
			top: 15px;
		}
	}
	._swiper.swiper-container-autoheight .swiper-wrapper {
		align-items: center;
		height: 453px !important;
	}
	&__slider {
		min-width: 0;
	}

	&__slider-items {
		display: flex;
		justify-content: flex-end;
		@media (max-width: $md2+px) {
			justify-content: center;
			width: 100%;
		}
	}

	&__slider-img {
		max-width: 70%;
		@media (max-width: $md2+px) {
			max-width: 100%;
		}
	}
}

//frispesgallery====================================================
.frispesgallery {
	padding: 56px 0px;
	&__content {
		display: flex;
		flex-direction: column;
	}

	&__presents {
		width: 43%;
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #222831;
		margin-bottom: 8px;
		align-self: flex-end;
		&::after {
			content: "";
			display: inline-block;
			width: 73px;
			height: 2px;
			left: 281px;
			top: 177px;
			background: #222831;
			vertical-align: middle;
			margin-left: 15px;
		}
		@media (max-width: $md2+px) {
			align-self: flex-start;
			width: 100%;
		}
	}

	&__title {
		font-family: $subfont;
		color: #10375c;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		margin-bottom: 56px;
		align-self: flex-end;
		@media (max-width: $md2+px) {
			font-size: 35px;
			line-height: 40px;
			max-width: 100%;
			margin-bottom: 15px;
		}
	}

	&__slider-wrapper {
		margin-top: 56px;
		position: relative;
	}

	&__slider-item {
		img {
			display: block;
			width: 100%;
			object-fit: cover;
			height: 350px;
		}
	}

	.frispesgallery__swiper-button-next {
		@media (max-width: $md2+px) {
			display: none;
		}
		transition: all 0.5s;
		position: absolute;
		top: -73px;
		right: 650px;
		cursor: pointer;
		width: 100px;
		height: 30px;
		background-image: url("../img/arrow-active.svg");
		background-repeat: no-repeat;
		&.swiper-button-disabled {
			cursor: default;
			top: -75px;
			right: 694px;
			background-image: url("../img/arrow-nonactive.svg");
			transform: rotate(180deg);
		}
	}
	.frispesgallery__swiper-button-prev {
		@media (max-width: $md2+px) {
			display: none;
		}
		transition: all 0.5s;
		position: absolute;
		cursor: pointer;
		top: -76px;
		right: 780px;
		width: 100px;
		height: 30px;
		background-image: url("../img/arrow-active.svg");
		background-repeat: no-repeat;
		transform: rotate(180deg);
		&.swiper-button-disabled {
			cursor: default;
			background-image: url("../img/arrow-nonactive.svg");
			width: 80px;
			height: 30px;
			top: -73px;
			right: 767px;
			transform: rotate(0deg);
		}
	}
}

//whouses====================================================
.whouses {
	padding: 56px 0px;
	@media (max-width:$md2+px){
		padding: 30px 0;
	}
	&__content-text {
		text-align: center;
	}
	&__title {
		font-family: $subfont;
		color: #0d2c4a;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		margin-bottom: 24px;
		@media (max-width: $md2+px) {
			font-size: 35px;
			line-height: 40px;
			margin-bottom: 15px;
		}
	}
	&__text {
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #9a9a9a;
		margin-bottom: 56px;
		@media (max-width: $md2+px) {
			margin-bottom: 30px;
		}
	}
	&__content-company {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	&__company {
		@media (max-width: $md2+px) {
			margin-bottom: 30px;
		}
	}
}

//customers====================================================
.customers {
	padding: 56px 0;
	@media (max-width:$md2+px){
		padding: 30px 0;
	}
	&__presents {
		width: 43%;
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #222831;
		margin-bottom: 8px;
		align-self: flex-end;
		&::after {
			content: "";
			display: inline-block;
			width: 73px;
			height: 2px;
			left: 281px;
			top: 177px;
			background: #222831;
			vertical-align: middle;
			margin-left: 15px;
		}
	}

	&__title {
		font-family: $subfont;
		color: #10375c;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		margin-bottom: 56px;
	}

	&__slider-wrapper {
		position: relative;
		width: 100%;
		max-width: 1500px;
		margin-left: auto;
	}

	&__slider {
		margin-bottom: 32px;
	}

	&__slider-item {
		background: #10375c;
		padding: 47px 40px 35px;
		// width: 445px !important;
		display: flex;
		flex-direction: column;
		height: 393px;
	}

	&__slider-text {
		font-family: $mainfont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #fff;
		flex: 1 1 auto;
	}

	&__slider-users {
		display: flex;
	}

	&__slider-img {
		margin-right: 16px;
	}

	&__slider-user {
		display: flex;
		flex-direction: column;
	}

	&__slider-name {
		font-family: $mainfont;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		color: #fff;
	}

	&__slider-profession {
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		font-family: $mainfont;
		color: #fff;
	}
	.customers__swiper-button-next {
		transition: all 0.5s;
		position: absolute;
		top: -73px;
		right: 285px;
		cursor: pointer;
		width: 100px;
		height: 30px;
		background-image: url("../img/arrow-active.svg");
		background-repeat: no-repeat;
		&.swiper-button-disabled {
			cursor: default;
			top: -75px;
			right: 340px;
			background-image: url("../img/arrow-nonactive.svg");
			transform: rotate(180deg);
		}
	}
	.customers__swiper-button-prev {
		transition: all 0.5s;
		position: absolute;
		cursor: pointer;
		top: -76px;
		right: 425px;
		width: 100px;
		height: 30px;
		background-image: url("../img/arrow-active.svg");
		background-repeat: no-repeat;
		transform: rotate(180deg);
		&.swiper-button-disabled {
			cursor: default;
			background-image: url("../img/arrow-nonactive.svg");
			width: 80px;
			height: 30px;
			top: -73px;
			right: 410px;
			transform: rotate(0deg);
		}
	}

	.swiper-pagination-fraction {
		font-size: 20px;
		color: #9a9a9a;
		font-family: $mainfont;
	}

	.customers__swiper-scrollbar {
		max-width: 160px !important;
		width: 100%;
		background: #dfdfdf;
		margin: 0 auto;
		height: 5px;
		position: absolute;
		left: 510px;
	}

	.swiper-scrollbar-drag {
		cursor: pointer;
		background-color: #dd2c00;
		height: 100%;
	}
}

//helpcenter====================================================
.helpcenter {
	padding: 56px 0;
	&__body {
	}

	&__title {
		font-family: $subfont;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		text-align: center;
		color: #10375c;
		max-width: 578px;
		margin: 0 auto;
		margin-bottom: 51px;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		flex: 0 1 33.333%;
	}

	&__cards-wrapper {
		// background: rgba(223, 223, 223, 0.5);
		// filter: blur(24px);
		box-shadow: 0px 0px 24px 7px rgba(223, 223, 223, 0.5);
		position: relative;
		margin-bottom: 64px;
		width: 350px;
		height: 171px;
	}
	&__cards-item {
		height: 171px;
		transition: all 0.5s;
	}
	&__cards-text {
		font-family: $subfont;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 33px;
		text-align: center;
		color: #000000;
		padding: 42px 40px 0;
	}

	&__cards-btn {
		transition: all 0.5s;
		position: absolute;
		width: 64px;
		height: 48px;
		display: block;
		background: #ff5722;
		bottom: -24px;
		right: 41%;
		&::after,
		&::before {
			content: "";
			position: absolute;
			background: #fff;
			width: 2px;
			height: 11px;
		}
		&::after {
			transform: rotate(45deg);
			top: 20px;
			left: 35px;
		}
		&::before {
			transform: rotate(-45deg);
			top: 20px;
			left: 28px;
		}
		&:hover {
			box-shadow: 0 22px 24px 2px rgba(223, 223, 223, 0.5);
			background-color: #fff;
			color: #ff5722;
			&::after,
			&::before {
				background: #ff5722;
			}
			+ .helpcenter__cards-item {
				background: #ff5722;
				.helpcenter__cards-text {
					color: #fff;
				}
			}
		}
	}

	&__link {
		text-align: center;
		a {
			position: relative;
			font-family: $mainfont;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 26px;
			color: #ff5722;
			transition: all 0.5s;
			&:hover {
				color: #10375c;
				&::after,
				&::before {
					background: #10375c;
				}
			}
			&::after,
			&::before {
				content: "";
				position: absolute;
				background: #ff5722;
				width: 2px;
				height: 11px;
			}
			&::after {
				transform: rotate(45deg);
				top: 9px;
				left: 134px;
			}
			&::before {
				transform: rotate(-45deg);
				top: 2px;
				left: 134px;
			}
		}
	}
}

//news====================================================
.news {
	padding: 60px 0 76px;
	&__content-text {
		display: flex;
		justify-content: space-between;
		// align-items: center;
	}

	&__title {
		font-family: $subfont;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		color: #10375c;
		margin-bottom: 56px;
	}

	&__link {
		a {
			position: relative;
			font-family: $mainfont;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 51px;
			color: #ff5722;
			transition: all 0.5s;
			margin-right: 37px;
			&:hover {
				color: #10375c;
				&::after,
				&::before {
					background: #10375c;
				}
			}
			&::after,
			&::before {
				content: "";
				position: absolute;
				background: #ff5722;
				width: 2px;
				height: 11px;
			}
			&::after {
				transform: rotate(45deg);
				top: 9px;
				left: 91px;
			}
			&::before {
				transform: rotate(-45deg);
				top: 2px;
				left: 91px;
			}
		}
	}

	&__cards-top {
		display: flex;
		margin-bottom: 30px;
	}

	&__cards-itemb {
		display: flex;
		background-color: #fff;
		margin-right: 15px;
	}

	&__cards-item {
		display: flex;
		flex-direction: column;
		margin-left: 15px;
		margin-right: 15px;
		background-color: #fff;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}

	.img__card {
		margin-bottom: 14px;
	}
	&__cards-content {
		padding: 32px;
	}

	&__cards-title {
		font-family: $subfont;
		font-style: normal;
		font-weight: bold;
		font-size: 32px;
		line-height: 41px;
		color: #222831;
		margin-bottom: 24px;
	}
	.title__cards {
		font-family: $subfont;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 28px;
		color: #222831;
		margin-bottom: 4px;
		padding-left: 16px;
	}
	&__cards-text {
		font-family: $mainfont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #9a9a9a;
		margin-bottom: 16px;
	}
	.text__cards {
		padding-left: 16px;
	}
	&__cards-wrapper {
		img {
			margin-right: 24px;
		}
		display: flex;
	}

	&__cards-user {
		display: flex;
		flex-direction: column;
	}

	&__cards-name {
		font-family: $mainfont;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 28px;
		color: #10375c;
	}

	&__cards-profession {
		font-family: $mainfont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color: #9a9a9a;
	}

	&__cards-bottom {
		display: flex;
	}
}

//member====================================================
.member {
	background: #10375c;
	&__container {
		display: flex;
		justify-content: space-between;
	}
	&__content-sign {
		display: flex;
		flex: 0 1 50%;
		flex-direction: column;
		justify-content: center;
	}

	&__presents {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #f8f8f8;
		font-family: $mainfont;
		margin-bottom: 8px;
		&::after {
			content: "";
			display: inline-block;
			width: 73px;
			height: 2px;
			left: 281px;
			top: 177px;
			background: #fff;
			vertical-align: middle;
			margin-left: 15px;
		}
	}

	&__title {
		font-family: $subfont;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		line-height: 51px;
		color: #fff;
		margin-bottom: 16px;
	}

	&__text {
		font-family: $mainfont;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 30px;
		color: #dfdfdf;
		margin-bottom: 33px;
	}

	&__btn {
		background: #ff5722;
		width: 100%;
		max-width: 350px;
		height: 51px;
		font-family: $mainfont;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		border: 1px solid #ff5722;
		transition: all 0.5s ease 0s;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			color: #fff;
		}
		&:hover {
			border-radius: 25px;
			background: #fff;
			color: #ff5722;
			a {
				color: #ff5722;
			}
		}
	}

	&__btn-link {
		font-family: $mainfont;
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
	}

	&__content-photo {
		display: flex;
		flex: 0 1 50%;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		img {
			position: relative;
			z-index: 12;
		}
		&::before {
			content: url("../img/Pattern.png");
			position: absolute;
			bottom: -96px;
			left: 71px;
		}
	}
}
